<div class="starter-container">
<!--   <button mat-button class="severity-primary" (click)="onCtCadastro()">
    <span> SISCT </span>
    <span> CADASTRO </span>
  </button> -->



  <div class="flip-container" (click)="toggleFlip()">
    <div class="flipper" [@flipState]="flip">
      <!-- Frente do card -->
      <mat-card class="front" *ngIf="flip === 'inactive'">
        <mat-card-header>
          <mat-card-title>Frente do Card</mat-card-title>
          <mat-card-subtitle>Clique para virar</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://via.placeholder.com/300x200" alt="Imagem de exemplo">
        <mat-card-content>
          <p>Este é o conteúdo da frente do card.</p>
        </mat-card-content>
      </mat-card>

      <!-- Verso do card -->
      <mat-card class="back" *ngIf="flip === 'active'">
        <mat-card-header>
          <mat-card-title>Verso do Card</mat-card-title>
          <mat-card-subtitle>Clique para virar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Este é o conteúdo do verso do card.</p>
          <p>Pode conter informações adicionais ou diferentes da frente.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <button mat-button class="severity-primary" (click)="onCtContratos()">
    <span> SISCT </span>
    <span> CONTRATOS </span>
  </button>
</div>
