<form #form="ngForm" class="w-full grid">
  <!-- Seção 6 -->
  <h2 class="col-12">6. Comunidade Terapêutica</h2>

  <mat-checkbox
    class="col-12 md:col-4"
    name="possuiLicencaSanitaria"
    [(ngModel)]="formModel.comunidadeTerapeutica.possuiLicencaSanitaria"
    (change)="onSanitaryChange()"
    >Possui licença sanitária atualizada</mat-checkbox
  >

  <div class="col-12 md:col-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Validade da Licença</mat-label>

      <input
        name="validadeLicenca"
        matInput
        [matDatepicker]="dp"
        [(ngModel)]="formModel.comunidadeTerapeutica.validadeLicenca"
      />
      <mat-hint>Dia/Mes/Ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Prazo do Projeto Terapêutico (meses)</mat-label>
      <input
        matInput
        type="number"
        name="prazoProjeto"
        [(ngModel)]="formModel.comunidadeTerapeutica.prazoProjeto"
        (ngModelChange)="onFieldChange('prazoProjeto')"
      />
    </mat-form-field>
  </div>

  <mat-checkbox
    [class.md:col-6]="!formModel.comunidadeTerapeutica.matrizPossuiCEBAS"
    [class.md:col-3]="formModel.comunidadeTerapeutica.matrizPossuiCEBAS"
    name="matrizPossuiCEBAS"
    [(ngModel)]="formModel.comunidadeTerapeutica.matrizPossuiCEBAS"
    (change)="onCEBASChange()"
    >A matriz da entidade possui CEBAS?</mat-checkbox
  >
  @if (formModel.comunidadeTerapeutica.matrizPossuiCEBAS) {
  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Início da validade CEBAS</mat-label>

      <input
        name="inicioCEBAS"
        matInput
        [matDatepicker]="periodoCEBASInicio"
        [(ngModel)]="formModel.comunidadeTerapeutica.periodoCEBAS!.inicio"
      />
      <mat-hint>Dia/Mes/Ano</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="periodoCEBASInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #periodoCEBASInicio></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Término da validade CEBAS</mat-label>

      <input
        name="terminoCEBAS"
        matInput
        [matDatepicker]="periodoCEBASTermino"
        [(ngModel)]="formModel.comunidadeTerapeutica.periodoCEBAS!.termino"
      />
      <mat-hint>Dia/Mes/Ano</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="periodoCEBASTermino"
      ></mat-datepicker-toggle>
      <mat-datepicker #periodoCEBASTermino></mat-datepicker>
    </mat-form-field>
  </div>
  }

  <div
    [class.col-6]="!formModel.comunidadeTerapeutica.matrizPossuiCEBAS"
    [class.col-3]="formModel.comunidadeTerapeutica.matrizPossuiCEBAS"
  >
    <mat-checkbox
      name="requerimentoDEPAD"
      [(ngModel)]="formModel.comunidadeTerapeutica.requerimentoDEPAD"
      >A entidade possui requerimento CEBAS no DEPAD?</mat-checkbox
    >
  </div>

  <div class="col-6">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ano do protocolo</mat-label>
      <input
        matInput
        type="number"
        name="anoProtocolo"
        [(ngModel)]="formModel.comunidadeTerapeutica.anoProtocolo"
      />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Número do protocolo</mat-label>
      <input
        matInput
        name="numeroProtocolo"
        [(ngModel)]="formModel.comunidadeTerapeutica.numeroProtocolo"
      />
    </mat-form-field>
  </div>

  <mat-checkbox
    class="col-12"
    name="atendeLegislacao"
    [(ngModel)]="formModel.comunidadeTerapeutica.atendeLegislacao"
    >A entidade cumpre todos os dispositivos da Lei nº 11.343/2006, Lei nº
    13.840, de 5 de junho de 2019, Decreto nº 9.761, de 11 de abril de 2019,
    Decreto nº 9.761, de 11 de abril de 2019, Resolução da Diretoria Colegiada -
    RDC nº 29/2011 – ANVISA, Resolução nº 01, de 19 de agosto de 2015 – CONAD -
    Conselho Nacional de Políticas sobre Drogas?</mat-checkbox
  >

  <!-- Seção 6.1 -->
  <h2 class="col-12">6.1 Capacidade de Atendimento</h2>

  <div class="col-12">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Capacidade total de vagas</mat-label>
      <input
        matInput
        type="number"
        name="totalVagas"
        [(ngModel)]="formModel.capacidadeAtendimento.totalVagas"
      />
    </mat-form-field>
  </div>

  <div class="col-4">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "adulto Feminino" | titlecase }}</mat-label>
      <input
        matInput
        type="number"
        name="adultoFeminino"
        [(ngModel)]="formModel.capacidadeAtendimento.publico.adultoFeminino"
      />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "adulto Masculino" | titlecase }}</mat-label>
      <input
        matInput
        type="number"
        name="adultoMasculino"
        [(ngModel)]="formModel.capacidadeAtendimento.publico.adultoMasculino"
      />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "maes Nutrizes" | titlecase }}</mat-label>
      <input
        matInput
        type="number"
        name="maesNutrizes"
        [(ngModel)]="formModel.capacidadeAtendimento.publico.maesNutrizes"
      />
    </mat-form-field>
  </div>


    <!-- Seção 6.2 -->
  <h2 class="col-12">6.2 Quanto ao Mapa de Vagas</h2>


  <!-- Seção 6.3 -->
  <h2 class="col-12">6.3 Reconhecimento da Entidade</h2>

  <div
    class="col-6"
    [class.col-6]="
      formModel.reconhecimentoMunicipio.conselhoMunicipal !== 'outro'
    "
    [class.col-4]="
      formModel.reconhecimentoMunicipio.conselhoMunicipal === 'outro'
    "
  >
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Inscrição em Conselho Municipal</mat-label>
      <mat-select
        [(ngModel)]="formModel.reconhecimentoMunicipio.conselhoMunicipal"
        name="conselhoMunicipal"
      >
        <mat-option value="assistenciaSocial">Assistência Social</mat-option>
        <mat-option value="politicasDrogas">Políticas sobre Drogas</mat-option>
        <mat-option value="saude">Saúde</mat-option>
        <mat-option value="outro">Outro</mat-option>
        <mat-option value="naoPossui">Não Possui</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="col-4"
    *ngIf="formModel.reconhecimentoMunicipio.conselhoMunicipal === 'outro'"
  >
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Outro conselho municipal</mat-label>
      <input
        matInput
        name="outroConselhoMunicipal"
        [(ngModel)]="formModel.reconhecimentoMunicipio.outroConselhoMunicipal"
      />
    </mat-form-field>
  </div>

  <div
    [class.col-6]="
      formModel.reconhecimentoMunicipio.conselhoMunicipal !== 'outro'
    "
    [class.col-4]="
      formModel.reconhecimentoMunicipio.conselhoMunicipal === 'outro'
    "
  >
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Conselho Estadual</mat-label>
      <input
        matInput
        name="conselhoEstadual"
        [(ngModel)]="formModel.reconhecimentoMunicipio.conselhoEstadual"
      />
    </mat-form-field>
  </div>

  <div class="col-12">
    <mat-label>Reconhecimento por autoridade pública</mat-label>
    <mat-radio-group
      class="ml-2"
      [(ngModel)]="formModel.reconhecimentoMunicipio.reconhecimentoPublico"
      name="reconhecimentoPublico"
    >
      <mat-radio-button value="Uniao">União</mat-radio-button>
      <mat-radio-button value="Estados">Estados</mat-radio-button>
      <mat-radio-button value="DF e municipios"
        >DF e municípios</mat-radio-button
      >
      <mat-radio-button value="">Não</mat-radio-button>
    </mat-radio-group>
  </div>
</form>
