<form #form="ngForm" class="w-full grid">
  <!-- Seção 6 -->
  <h2 class="col-12">6. Comunidade Terapêutica</h2>

  <mat-checkbox class="col-12 md:col-4" name="possuiLicencaSanitaria"
    [(ngModel)]="this.cadastroService.cadastroAtual.stPossuiLicencaSanitaria" (change)="onSanitaryChange()">Possui
    licença
    sanitária atualizada</mat-checkbox>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Validade da Licença</mat-label>

      <input name="validadeLicenca" matInput [matDatepicker]="dp"
        [(ngModel)]="this.cadastroService.cadastroAtual.dtValidadeLicensa" />
      <mat-hint>Dia/Mes/Ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Prazo do Projeto Terapêutico (meses)</mat-label>
      <input matInput type="number" name="prazoProjeto" [(ngModel)]="this.cadastroService.cadastroAtual.nuPrazoProjeto"
        (ngModelChange)="onFieldChange('prazoProjeto')" />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-checkbox [class.md:col-6]="this.cadastroService.cadastroAtual.stPossuiCebas"
      [class.md:col-3]="this.cadastroService.cadastroAtual.stPossuiCebas" name="matrizPossuiCEBAS"
      [(ngModel)]="this.cadastroService.cadastroAtual.stPossuiCebas">A matriz da entidade
      possui CEBAS?</mat-checkbox>
  </div>
  <div class="col-2">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Início da validade CEBAS</mat-label>
      <input name="inicioCEBAS" matInput [matDatepicker]="periodoCEBASInicio"
        [(ngModel)]="this.cadastroService.cadastroAtual.dtInicioCebas"
        [disabled]="!this.cadastroService.cadastroAtual.stPossuiCebas" />
      <mat-hint>Dia/Mês/Ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="periodoCEBASInicio"></mat-datepicker-toggle>
      <mat-datepicker #periodoCEBASInicio></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-2">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Término da validade CEBAS</mat-label>
      <input name="terminoCEBAS" matInput [matDatepicker]="periodoCEBASTermino"
        [(ngModel)]="this.cadastroService.cadastroAtual.dtTerminoCebas"
        [disabled]="!this.cadastroService.cadastroAtual.stPossuiCebas" />
      <mat-hint>Dia/Mês/Ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="periodoCEBASTermino"></mat-datepicker-toggle>
      <mat-datepicker #periodoCEBASTermino></mat-datepicker>
    </mat-form-field>
  </div>

  <div [class.col-4]="!this.cadastroService.cadastroAtual.stPossuiCebas"
    [class.col-3]="this.cadastroService.cadastroAtual.stPossuiCebas">
    <mat-checkbox name="requerimentoDEPAD" [(ngModel)]="this.cadastroService.cadastroAtual.stPossuiReqCebasDepad">A
      entidade
      possui requerimento CEBAS no DEPAD?</mat-checkbox>
  </div>

  <div class="col-2">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ano do protocolo</mat-label>
      <input matInput type="number" name="anoProtocolo"
        [(ngModel)]="this.cadastroService.cadastroAtual.nuAnoProtocoloCebas" />
    </mat-form-field>
  </div>
  <div class="col-2">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Número do protocolo</mat-label>
      <input matInput name="numeroProtocolo" [(ngModel)]="this.cadastroService.cadastroAtual.nuProtocoloCebas" />
    </mat-form-field>
  </div>
  <div class="col-8">
    <mat-checkbox class="col-12" name="atendeLegislacao"
      [(ngModel)]="this.cadastroService.cadastroAtual.stCapacidadeAtendimento">A
      entidade cumpre todos os dispositivos da Lei nº 11.343/2006, Lei nº
      13.840, de 5 de junho de 2019, Decreto nº 9.761, de 11 de abril de 2019, DUVIDA
      Decreto nº 9.761, de 11 de abril de 2019, Resolução da Diretoria Colegiada -
      RDC nº 29/2011 – ANVISA, Resolução nº 01, de 19 de agosto de 2015 – CONAD -
      Conselho Nacional de Políticas sobre Drogas?</mat-checkbox>
  </div>

  <!-- Seção 6.1 -->
  <h2 class="col-12">6.1 Capacidade de Atendimento</h2>
  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Capacidade total de vagas</mat-label>
      <input matInput type="number" name="totalVagas" [(ngModel)]="this.cadastroService.cadastroAtual.nuCapacidadeTotal"
        (blur)="onFieldBlur($any($event.target)?.valueAsNumber)" />
    </mat-form-field>
  </div>

  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "adulto Feminino" | titlecase }}</mat-label>
      <input matInput type="number" name="adultoFeminino"
        [(ngModel)]="this.cadastroService.cadastroAtual.nuCapacidadeFeminino" />
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "adulto Masculino" | titlecase }}</mat-label>
      <input matInput type="number" name="adultoMasculino"
        [(ngModel)]="this.cadastroService.cadastroAtual.nuCapacidadeMasculino" />
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{ "maes Nutrizes" | titlecase }}</mat-label>
      <input matInput type="number" name="maesNutrizes"
        [(ngModel)]="this.cadastroService.cadastroAtual.nuCapacidadeMaes" />
    </mat-form-field>
  </div>

  <!-- Seção 6.2 -->

  <div class="col-12">
    <app-mapa-de-vagas></app-mapa-de-vagas>
  </div>

  <!-- Seção 6.3 -->
  <h2 class="col-12">6.3 Reconhecimento da Entidade</h2>

  <div class="col-6" [class.col-6]="
      this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal !== 'outro'
    " [class.col-4]="
      this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal === 'outro'
    ">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Inscrição em Conselho Municipal</mat-label>
      <mat-select [(ngModel)]="this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal" name="conselhoMunicipal">
        <mat-option value=0>Assistência Social</mat-option>
        <mat-option value=1>Políticas sobre Drogas</mat-option>
        <mat-option value=2>Saúde</mat-option>
        <mat-option value=3>Outro</mat-option>
        <mat-option value=4>Não Possui</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-4" *ngIf="this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal === 'outro'">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Outro conselho municipal</mat-label>
      <input matInput name="outroConselhoMunicipal"
        [(ngModel)]="this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal" />
    </mat-form-field>
  </div>

  <div [class.col-6]="
      this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal !== 'outro'
    " [class.col-4]="
      this.cadastroService.cadastroAtual.dsOutroConselhoMunicipal === 'outro'
    ">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Conselho Estadual</mat-label>
      <input matInput name="conselhoEstadual"
        [(ngModel)]="this.cadastroService.cadastroAtual.dsInscricaoConselhoEstadual" />
    </mat-form-field>
  </div>

  <div class="col-12">
    <mat-label>Reconhecimento por autoridade pública</mat-label>
    <mat-radio-group class="ml-2" [(ngModel)]="this.cadastroService.cadastroAtual.stPossuiReconhecimentoPublico"
      name="reconhecimentoPublico">
      <mat-radio-button value=0>União</mat-radio-button>
      <mat-radio-button value=1>Estados</mat-radio-button>
      <mat-radio-button value=2>DF e municípios</mat-radio-button>
      <mat-radio-button value=3>Não</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="container-padrao">
    <div class="col-12">
      <app-recursos-humanos></app-recursos-humanos>
    </div>
    <div class="col-12">
      <mat-label>Com qual periodicidade é promovida capacitação da equipe técnica na pauta de drogas? </mat-label>
      <mat-radio-group class="ml-2" [(ngModel)]="this.cadastroService.cadastroAtual.stPossuiReconhecimentoPublico"
        name="reconhecimentoPublicoDrogas">
        <mat-radio-button value=0>Mensal</mat-radio-button>
        <mat-radio-button value=1>Trimestral</mat-radio-button>
        <mat-radio-button value=2>Anual</mat-radio-button>
        <mat-radio-button value=3>Não realiza</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <!-- </div> -->
</form>