mat-toolbar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #071D41;

  h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }
}

.footer {
  width: 100%;
  background-color: #3f51b5;
  /* Cor do Material Primary - ajuste conforme necessário */
  color: white;
  flex-shrink: 0;
  /* Impede que o footer encolha */

  mat-toolbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.footer-text {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  width: 100%;
}