:root {
  --primary-color: #6366f1; /* Azul PrimeNG */
  --success-color: #22c55e; /* Verde */
  --info-color: #3b82f6; /* Azul Claro */
  --warn-color: #f59e0b; /* Laranja */
  --danger-color: #ef4444; /* Vermelho */
  --help-color: #a855f7; /* Roxo */
}

/* Estilização para os botões do Angular Material */
.mat-mdc-button {
  &.severity-primary {
    background-color: var(--primary-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #4f46e5;
    }
  }

  &.severity-success {
    background-color: var(--success-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #16a34a;
    }
  }

  &.severity-info {
    background-color: var(--info-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #2563eb;
    }
  }

  &.severity-warn {
    background-color: var(--warn-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #d97706;
    }
  }

  &.severity-danger {
    background-color: var(--danger-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #dc2626;
    }
  }

  &.severity-help {
    background-color: var(--help-color);
    color: white !important;

    &:hover,
    &:focus {
      background-color: #9333ea;
    }
  }
}

.mat-mdc-fab {
  &.severity-primary {
    background-color: var(--primary-color);
    color: white;
  }

  &.severity-success {
    background-color: var(--success-color);
    color: white;
  }

  &.severity-info {
    background-color: var(--info-color);
    color: white;
  }
  &.severity-warn {
    background-color: var(--warn-color);
    color: white;
  }
  &.severity-danger {
    background-color: var(--danger-color);
    color: white;
  }
  &.severity-help {
    background-color: var(--help-color);
    color: white;
  }
}
