<form #formRef="ngForm" class="grid">
  <div class="col-12">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Informe a Receita bruta da filial</mat-label>
      <input matInput name="receitaBruta" type="number" [(ngModel)]="formModel.receitaBruta" required
        (blur)="onFieldChange()" />
    </mat-form-field>
  </div>

  <div class="col-12">
    <div class="recursos-container">
      <div class="recursos-header">
        <h2>5.1 Quanto à Recursos Públicos</h2>
      </div>
      <div *ngFor="let nivel of niveisFonte" class="col-12 mb-1">
        <div class="grid align-items-center">
          <div class="col-2">
            <mat-checkbox [(ngModel)]="niveisFonte[nivel.id].co_resposta" [name]="nivel.id + '_possui'"
              (change)="onFieldChange()">
              {{ nivel.texto_pergunta }}?
            </mat-checkbox>
          </div>
          <!-- <div class="col-10" *ngIf="formModel.recursosPublicos[nivel].possui">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Modalidades</mat-label>
              <mat-select [(ngModel)]="formModel.recursosPublicos[nivel].modalidades" [name]="nivel + '_modalidades'"
                multiple (blur)="onFieldChange()">
                <mat-option *ngFor="let m of modalidades" [value]="m">{{ m }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="recursos-container">
      <div class="recursos-header">
        <h2>5.2 Quanto à outras fontes de recursos</h2>
      </div>
      <div class="grid">
        <ul class="checkbox-list">
          <li class="checkbox-item">
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formModel.outrasFontes.doacoesFinanceirasTerceiros"
                name="doacoesFinanceirasTerceiros" (blur)="onFieldChange()">
                Doações financeiras de terceiros
              </mat-checkbox>
            </div>
          </li>

          <li class="checkbox-item">
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formModel.outrasFontes.parceriasPrivadas" name="parceriasPrivadas"
                (blur)="onFieldChange()">
                Parcerias privadas
              </mat-checkbox>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="recursos-container">
      <div class="recursos-header">
        <h2>5.2 Quanto à outras fontes de recursos</h2>
      </div>
      <mat-label>Receitas próprias</mat-label>
      <mat-selection-list class="label-position-before" [(ngModel)]="formModel.outrasFontes.receitasProprias"
        name="receitasProprias" (blur)="onFieldChange()">
        <mat-list-option [togglePosition]="'before'" *ngFor="let receita of receitasProprias" [value]="receita.value">
          {{ receita.label }}
        </mat-list-option>
      </mat-selection-list>
      <div class="col">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Outros</mat-label>
          <input matInput name="outros" [(ngModel)]="formModel.outrasFontes.outros" (blur)="onFieldChange()" />
        </mat-form-field>
      </div>
    </div>
  </div>

</form>