<div class="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>
  <div class="sidebar-content">
    <mat-nav-list>
      <a mat-list-item routerLink="/starter">
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </a>
      <a mat-list-item routerLink="/cadastro">
        <mat-icon>assignment</mat-icon>
        <span>Cadastrar Entidade</span>
      </a>
    </mat-nav-list>
    
    <div class="entidades-section">
      <app-entidades-grid></app-entidades-grid>
    </div>
  </div>
</div>