<app-toast></app-toast>

<ng-container *ngIf="showHeader">
  <app-header></app-header>
</ng-container>

<mat-sidenav-container class="sidenav-container">
  <!-- Menu lateral -->
  <mat-sidenav #sidenav mode="side" [opened]="showSidebar">
    <app-sidebar *ngIf="showSidebar"></app-sidebar>
  </mat-sidenav>

  <!-- Conteúdo principal -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-container *ngIf="showFooter">
  <app-footer></app-footer>
</ng-container>