/* You can add global styles to this file, and also import other style files */
@import "./scss/btn-severity";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fontsource-variable/exo-2";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Exo 2 Variable", sans-serif;
}
