<form #infoGeraisForm="ngForm" class="grid">
  <div class="col-12">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>* Informe a Receita bruta da filial:</mat-label>
      <input
        matInput
        name="receitaBruta"
        [(ngModel)]="formModel.receitaBruta"
        #receitaBrutaCtrl="ngModel"
        placeholder="Informe a Receita bruta da filial"
        type="number"
        (blur)="onFieldChange()"
      />

      <i matPrefix class="fa-solid fa-dollar-sign p-3"></i>

    </mat-form-field>
  </div>
  <!-- Recursos Públicos -->
  <div class="p-col-12">
    <h3>5.1 Quanto a Recursos Públicos</h3>

    <!-- União -->
    <label>Possui financiamento com a União?</label>
    <mat-radio-group [(ngModel)]="formModel.recursoPublicos.financiamentoComAUniao.possui" name="uniao">
      <mat-radio-button [value]="true">Sim</mat-radio-button>
      <mat-radio-button [value]="false">Não</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="formModel.recursoPublicos.financiamentoComAUniao.possui" class="p-grid">
      <div class="p-col-12 p-md-6" *ngFor="let tipo of uniaoTipos">
        <mat-checkbox [(ngModel)]="formModel.recursoPublicos.financiamentoComAUniao.modalidades[]" name="{{tipo.key}}">
          {{ tipo.label }}
        </mat-checkbox>
      </div>
      <div class="p-col-12" *ngIf="formModel.recursoPublicos.financiamentoComAUniao.modalidadeDeFinanciamento.outrosEspecificar">
        <mat-form-field class="w-full">
          <mat-label>Outros - especificar</mat-label>
          <input matInput name="uniaoOutros" [(ngModel)]="formModel.recursoPublicos.financiamentoComAUniao.modalidadeDeFinanciamento.outrosEspecificarDescricao">
        </mat-form-field>
      </div>
    </div>

    <!-- Estadual -->
    <label>Possui financiamento Estadual?</label>
    <mat-radio-group [(ngModel)]="formModel.recursoPublicos.financiamentoEstadual.possui" name="estadual">
      <mat-radio-button [value]="true">Sim</mat-radio-button>
      <mat-radio-button [value]="false">Não</mat-radio-button>
    </mat-radio-group>

    <div class="p-col-12 p-grid" *ngIf="formModel.recursoPublicos.financiamentoEstadual.possui">
      <div class="p-col-12 p-md-4" *ngFor="let tipo of simplesTipos">
        <mat-checkbox [(ngModel)]="formModel.recursoPublicos.financiamentoEstadual.modalidadeDeFinanciamento[tipo.key]" name="estadual_{{tipo.key}}">
          {{ tipo.label }}
        </mat-checkbox>
      </div>
    </div>

    <!-- Municipal -->
    <label>Possui financiamento Municipal?</label>
    <mat-radio-group [(ngModel)]="formModel.recursoPublicos.financiamentoMunicipal.possui" name="municipal">
      <mat-radio-button [value]="true">Sim</mat-radio-button>
      <mat-radio-button [value]="false">Não</mat-radio-button>
    </mat-radio-group>

    <div class="p-col-12 p-grid" *ngIf="formModel.recursoPublicos.financiamentoMunicipal.possui">
      <div class="p-col-12 p-md-4" *ngFor="let tipo of simplesTipos">
        <mat-checkbox [(ngModel)]="formModel.recursoPublicos.financiamentoMunicipal.modalidadeDeFinanciamento[tipo.key]" name="municipal_{{tipo.key}}">
          {{ tipo.label }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <!-- Outras fontes -->
  <div class="p-col-12">
    <h3>5.2 Quanto a outras fontes de recursos</h3>

    <mat-checkbox name="doacoesFinanceirasTerceiros" [(ngModel)]="formModel.recursosDeOutrasFontes.doacoesFinanceirasTerceiros">
      Doações financeiras de terceiros
    </mat-checkbox>
    <br />
    <mat-checkbox name="parceriasPrivadas" [(ngModel)]="formModel.recursosDeOutrasFontes.parceriasPrivadas">
      Parcerias privadas
    </mat-checkbox>
    <br />
    <mat-checkbox name="receitasProprias" [(ngModel)]="usaReceitasProprias">
      Receitas próprias
    </mat-checkbox>

    <div class="p-grid p-col-12" *ngIf="usaReceitasProprias">
      <div class="p-col-12 p-md-6" *ngFor="let tipo of receitasTipos">
        <mat-checkbox [(ngModel)]="formModel.recursosDeOutrasFontes.receitasProprias[tipo.key]" name="receitas_{{tipo.key}}">
          {{ tipo.label }}
        </mat-checkbox>
      </div>
      <div class="p-col-12" *ngIf="formModel.recursosDeOutrasFontes.receitasProprias.outrosEspecificar">
        <mat-form-field class="w-full">
          <mat-label>Outros - especificar</mat-label>
          <input matInput name="receitasOutros" [(ngModel)]="formModel.recursosDeOutrasFontes.receitasProprias.outrosEspecificarDescricao">
        </mat-form-field>
      </div>
    </div>

    <!-- Outros recursos -->
    <mat-checkbox name="outrosRecursos" [(ngModel)]="formModel.recursosDeOutrasFontes.outrosEspecificar">
      Outros
    </mat-checkbox>
    <div *ngIf="formModel.recursosDeOutrasFontes.outrosEspecificar" class="p-col-12">
      <mat-form-field class="w-full">
        <mat-label>Especificar</mat-label>
        <input matInput name="outrosEspecificarDescricao" [(ngModel)]="formModel.recursosDeOutrasFontes.outrosEspecificarDescricao">
      </mat-form-field>
    </div>
  </div>
</form>
