<h2 mat-dialog-title>Adicionar Mapa de Vaga</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate class="grid">
  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Vaga</mat-label>
      <input matInput name="vaga" [(ngModel)]="mapa.vaga" required />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6 flex align-items-center">
    <mat-label>Disponível?</mat-label>
    <mat-slide-toggle
      name="disponibilidade"
      [(ngModel)]="mapa.disponibilidade"
    ></mat-slide-toggle>
  </div>
  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Identificação acolhido</mat-label>
      <input
        matInput
        name="acolhidoIdentificacao"
        [(ngModel)]="mapa.acolhidoIdentificacao"
        required
      />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>CPF</mat-label>
      <input matInput name="cpf" [(ngModel)]="mapa.cpf" required />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Data Nascimento</mat-label>
      <input
        matInput
        name="dataNascimento"
        type="date"
        [(ngModel)]="mapa.dataNascimento"
        required
      />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Data Ingresso</mat-label>
      <input
        matInput
        name="dataIngresso"
        type="date"
        [(ngModel)]="mapa.dataIngresso"
        required
      />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Data Saída</mat-label>
      <input
        matInput
        name="dataSaida"
        type="date"
        [(ngModel)]="mapa.dataSaida"
        required
      />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Qtd Dias Acolhimento</mat-label>
      <input
        matInput
        name="qtdDiasAcolhimento"
        type="number"
        min="0"
        [(ngModel)]="mapa.qtdDiasAcolhimento"
        required
      />
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Público</mat-label>
      <mat-select name="publico" [(ngModel)]="mapa.publico" required>
        <mat-option value="adultoFeminino">Adulto Feminino</mat-option>
        <mat-option value="maesNutrizesadulto">Mães Nutriz(es)</mat-option>
        <mat-option value="adultoMasculino">Adulto Masculino</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Gratuidade</mat-label>
      <mat-select name="gratuidade" [(ngModel)]="mapa.gratuidade" required>
        <mat-option
          value="Acolhimentogratuito SEM contraprestaçãopecuniária do acolhido"
        >
          Gratuito SEM contraprestação
        </mat-option>
        <mat-option
          value="Acolhimento Gratuito COM contraprestaçãopecuniária do acolhido"
        >
          Gratuito COM contraprestação
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12 md:col-6 flex align-items-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Financiamento</mat-label>
      <mat-select
        name="financiamento"
        [(ngModel)]="mapa.financiamento"
        required
      >
        <mat-option value="União">União</mat-option>
        <mat-option value="Estados">Estados</mat-option>
        <mat-option value="Municipios">Municípios</mat-option>
        <mat-option value="Entidade">Entidade</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12 flex justify-content-end gap-2">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Salvar
    </button>
  </div>
</form>
