<form #representanteLegalForm="ngForm" class="grid">
  <!-- <div class="grid"> -->
    <div class="col-8">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome do Representante Legal</mat-label>
        <input matInput name="nome" [(ngModel)]="representanteService.getCurrentRepresentante().nome"
          #nomeCtrl="ngModel" required (blur)="onFieldChange()" />
        <mat-error *ngIf="nomeCtrl.invalid && nomeCtrl.touched">
          Nome do Representante Legal é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Ano Término mandato da mesa diretora:</mat-label>
        <input matInput name="anoDeTerminoDeMandato"
          [(ngModel)]="representanteService.getCurrentRepresentante().anoDeTerminoDeMandato"
          #anoDeTerminoDeMandatoCtrl="ngModel" required mask="0000" placeholder="0000" (focusout)="onFieldChange()" />
        <mat-error *ngIf="anoDeTerminoDeMandatoCtrl.invalid && anoDeTerminoDeMandatoCtrl.touched">
          Informe o ano de término do mandato
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>CPF do Representante Legal</mat-label>
        <input matInput name="cpf" [(ngModel)]="representanteService.getCurrentRepresentante().cpf" #cpfCtrl="ngModel"
          required mask="000.000.000-00" placeholder="000.000.000-00" (focusout)="onFieldChange()" />
        <mat-error *ngIf="cpfCtrl.invalid && cpfCtrl.touched">
          CPF do Representante Legal é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
  <!-- </div> -->
  <!-- <div class="form-container"> -->
  <!-- <div class="grid col-12 p-0 m-0"> -->

    <div class="col-3">
      <mat-form-field appearance="outline" class="flex-field">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput name="dataDeNascimento"
          [(ngModel)]="representanteService.getCurrentRepresentante().dataDeNascimento" #dataDeNascimentoCtrl="ngModel"
          required mask="00/00/0000" placeholder="dd/mm/aaaa" (focusout)="onFieldChange()" />
        <mat-error *ngIf="dataDeNascimentoCtrl.invalid && dataDeNascimentoCtrl.touched">
          Data de Nascimento é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Telefone -->
    <div class="col-3">
      <mat-form-field appearance="outline" class="flex-field">
        <mat-label>Telefone</mat-label>
        <input matInput name="telefone" [(ngModel)]="representanteService.getCurrentRepresentante().telefone"
          #telefoneCtrl="ngModel" required mask="(00) 00000-0000" placeholder="(00) 00000-0000"
          (focusout)="onFieldChange()" />
        <mat-error *ngIf="telefoneCtrl.invalid && telefoneCtrl.touched">
          Telefone é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Email -->
    <div class="col-3">
      <mat-form-field appearance="outline" class="flex-field">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="representanteService.getCurrentRepresentante().email"
          #emailCtrl="ngModel" required email placeholder="email@exemplo.com" (blur)="onFieldChange()" />
        <mat-error *ngIf="emailCtrl.invalid && emailCtrl.touched">
          Email é obrigatório
        </mat-error>
      </mat-form-field>
    </div>


    <!-- Papel na Matriz -->
    <div class="col-3">
      <mat-form-field appearance="outline" class="flex-field">
        <mat-label>Qual o seu papel na composição da mesa diretora da Matriz?</mat-label>
        <mat-select name="mesaDirectoraMatriz"
          [(ngModel)]="representanteService.getCurrentRepresentante().seuPapelnaMatriz"
          #mesaDirectoraMatrizCtrl="ngModel" required>
          <mat-option value="presidente">Presidente</mat-option>
          <mat-option value="vice-presidente">Vice-presidente</mat-option>
          <mat-option value="conselheiro">Conselheiro</mat-option>
          <mat-option value="outros">Outros</mat-option>
        </mat-select>
        <mat-error *ngIf="mesaDirectoraMatrizCtrl.invalid && mesaDirectoraMatrizCtrl.touched">
          Seu papel na Matriz é obrigatório
        </mat-error>
      </mat-form-field>
    </div>


  <!-- </div> -->
<!--   <div class="grid col-12 p-0 m-0"> -->
    <!-- Escolaridade -->
    <div class="col-6">
      <mat-form-field appearance="outline" class="flex-field">
        <mat-label>Escolaridade</mat-label>
        <mat-select name="escolaridade" [(ngModel)]="representanteService.getCurrentRepresentante().escolaridade"
          #escolaridadeCtrl="ngModel" required>
          <mat-option value="nível fundamental">Nível Fundamental</mat-option>
          <mat-option value="nível médio">Nível Médio</mat-option>
          <mat-option value="Graduação">Graduação</mat-option>
          <mat-option value="pós-graduação">Pós-Graduação</mat-option>
          <mat-option value="mestrado">Mestrado</mat-option>
          <mat-option value="doutorado">Doutorado</mat-option>
        </mat-select>
        <mat-error *ngIf="escolaridadeCtrl.invalid && escolaridadeCtrl.touched">
          Escolaridade é obrigatória
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Curso / Profissão</mat-label>
        <input matInput name="nome" [(ngModel)]="representanteService.getCurrentRepresentante().cursoProfissao"
          #cursoProfissaoCtrl="ngModel" required (blur)="onFieldChange()" />
        <mat-error *ngIf="cursoProfissaoCtrl.invalid && cursoProfissaoCtrl.touched">
          Curso / Profissão obrigatórios
        </mat-error>
      </mat-form-field>
    </div>
<!--   </div> -->

  <!-- </div> -->
</form>
