<mat-tab-group>
  <mat-tab label="SEÇÃO I: DADOS DA ENTIDADE ">
    <!--     <app-pergunta
    [perguntas]="listaDePerguntas"
    [perguntaId]="perguntaSelecionadaId"
    (respostaSelecionada)="onRespostaSelecionada($event)"
  >
  </app-pergunta> -->
    <div class="subsection-container">
      @for (item of subsectionArrForSection1; track $index) {
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="section-header">
              <span class="title">{{ item.title }}</span>
              <span class="subtitle">{{ item.subtitle }}</span>
            </div>
          </mat-panel-title>
          <!--         <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <span class="subtitle">{{ item.subtitle }}</span>
        <app-pergunta
          [perguntas]="listaDePerguntas"
          [perguntaId]="perguntaSelecionadaId"
          (respostaSelecionada)="onRespostaSelecionada($event)"
        >
        </app-pergunta>
      </mat-expansion-panel>

      }
    </div>
  </mat-tab>
  <mat-tab label="SEÇÃO II: DADOS ESPECÍFICOS POR ÁREA DE ATUAÇÃO "> Content 2 </mat-tab>
</mat-tab-group>
