.subsection-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;

  mat-expansion-panel {
    min-height: 5rem;

    mat-panel-title {
      margin-top: 1.5rem;
    }

    .section-header {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      .title {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .subtitle {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }
}

.status-indicator {
  width: 54px;
  height: 18px;
  border-radius: 2px;
  border: none;
  padding: 0;
  min-width: unset;
  cursor: default;

  &.approved {
    background-color: #4caf50; // green
  }

  &.not-approved {
    background-color: #f44336; // red
  }
}

.mat-panel-title {
  gap: 8px;
}