<div>
    <div class="header">
        <h2>6.4 Quanto ao quadro de Recursos Humano</h2>
        <button mat-raised-button color="primary" (click)="abrirDialogoRH()" [disabled]="loading">
            'Novo Recursos Humano'
        </button>
        <button mat-raised-button color="primary" (click)="toggleMostrarInativos()" [disabled]="loading">
            {{ mostrarInativos ? 'Mostrar Apenas Ativos' : 'Mostrar Todos' }}
        </button>
    </div>

    <div class="grid-container">
        <div *ngIf="loading" class="loading-overlay">
            <mat-spinner diameter="50"></mat-spinner>
        </div>

        <ag-grid-angular style="width: 100%; height: 300px;" [rowData]="rowData" [columnDefs]="columnDefs"
            [gridOptions]="gridOptions">
        </ag-grid-angular>
    </div>
</div>